@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&family=Staatliches&display=swap");

@keyframes show {
    from {
        transform: scale(0.7) translateY(-20%);
        opacity: 0;
    } to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

body {
    background-image: url("https://images.pexels.com/photos/3131634/pexels-photo-3131634.jpeg?cs=srgb&dl=pexels-jplenio-3131634.jpg&fm=jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Staatliches", Arial, sans-serif;
    /* background-color: #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(18px);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 820px;
    width: 100%;
    text-align: center;

    display: none;
}

.card.show {
    display: block;
    animation: show 1s ease;
}

.card h1 {
    margin: 0 0 20px 0;
}

.icon {
    font-size: 24px;
    margin-bottom: 15px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.server {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.links {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
}

.footer {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.parent {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
}

.parent > div {
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 6px;
    box-sizing: border-box;
}

/* #region Div 1 */
.parent > .d1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    text-align: left;
}
.parent > .d1 .user {
    width: 72px;
    height: 72px;
    margin: 0;
    margin-right: 10px
}
.parent > .d1 .user {
    width: 72px;
    margin: 0;
    margin-right: 10px
}
.parent > .d1 .quote {
    margin-top: 7px;
    font-size: 80%;
    font-style: italic;
}
/* #endregion */

.parent > .d2 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 4;

    width: 100%;
    height: 100%;
}

.parent > .d3 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-row-start: 3;
    
    text-align: center;
    font-style: oblique;
}

.parent > .d4 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 5;

    padding: 10px;
    width: 100%;
}
.parent > .d4 iframe {
    box-shadow: 0 0 5px black;
}

.parent .flex {
    display: flex;
}
.parent h1, .parent h2, .parent h3 {
    margin: 0
}

.discord-tag {
    background: #667;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
}
.discord-tag img {
    width: 15px;
    margin-right: 4px;
}


a.button {
    display: block;
    text-align: center;
    padding: 7px;
    border-radius: 16px;
    transform: scale(1);
    background: rgba(243, 243, 243, 0.5);
    color: black;
    transition: 
        transform 0.5s ease, 
        background 0.5s ease,
        border-radius 0.5s ease;
}

a.button:hover {
    transform: scale(1.02);
    background: rgba(243, 243, 243, 0.8);
    border-radius: 4px;
}

